body {
  margin: 0;
}

.head {
 height: 100px;
 width: 100%;

  background: url(head_im.jpg) no-repeat;
  background-size: cover;

  border-radius: 5px;               /*панель с ресурсами*/

  display: flex;
  flex: 1 1 0;
  position: fixed; 
  top: 0;
  z-index: 1000;
  border-bottom: #333 1px solid;
}
 .iron, .gold, .wood {
   color: bisque;
   

          text-shadow: 1px 0 1px #000, /*контур цифры ресурсов*/
          0 1px 1px #000, 
          -1px 0 1px #000, 
          0 -1px 1px #000;

  font-size: 30px;

  margin: auto;
}
.for_sr_im {
  height: 35px;
  width: 35px;                        /*иконки ресурсов ДЕРЕВА И ЖЕЛЕЗА*/
  background-color: bisque;
  border-radius: 3px;

  border: #333 solid 1px;
}
.for_sr_im_gold {
  height: 35px;
  width: 35px;                        /*иконки ресурсов ЗОЛОТА*/
  background: linear-gradient(rgb(147, 226, 171), orange);
  border-radius: 30px;

  border: #333 solid 1px;
}
.count_rs {
  position: relative;
  margin-left: 5px;

  display: flex;
}
@keyframes minus_res {          /*анимация минусования ресурсов*/
  0% {
      opacity: 0; transform: translateY(-45px); 
  }
  100% {
      opacity: 1;transform: translateY(-60px);
  }
 
}
.wood-1,.iron-1,.gold-1 {  /*-1 c 0 нулевой видимостью*/
  position: absolute;
  opacity: 0;
  }
  .wood-1_clik {                   /*запуск анимации по нажатию клавиши*/
    animation: minus_res .5s  forwards ;
  }
  .iron-1_clik {
    animation: minus_res .5s  forwards ;
  }
  .gold-1_clik {
    animation: minus_res .5s  forwards ;
  }
/*****************************************/
.bottom_menu{                 /*Нижнее меню*/
  height: 50px;
  width: 100%;

  
  background: url(head_im.jpg) no-repeat;
  background-size: cover;

  border-radius: 5px;  

  position: fixed; 
  bottom: 0;
  z-index: 1000;
  border-bottom: #333 1px solid;
}
/*************************/
.items {                               /*страница с улучшением меча*/
  position: absolute;
  margin-top: 90px;

  background: url(bg.jpg) ;   
  background-size: cover;
  resize: horizontal;
  width: 100%;
  height: 100vh -100px;


  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
#weap_img {                    /*изображение меча*/
  margin-left: 50px;
  margin-right: 50px;

  width: 300px;
  height: 450px;
  background: url(sword/sw0.png) no-repeat;
  background-size: 300px 450px;
  object-fit: cover;
 
 
} 
#name{
  position: relative;
  text-align:  center;
  font-size: 35px;
  font-family: 700px;
  margin-bottom: 125px;
}

#ench {                          /*кнопка улучшения*/
  cursor: pointer;
  
  position: absolute;           /*выравнивание кнопки по правому краю */
  right: 0;
  margin-right: 10%;

  border-radius: 10% 40% 30% 10%;
  border: gray inset 3px;
  background: black;
  color: bisque;

                              
  width: 150px;
  height: 120px;

}
#ench:hover {
  background: rgb(10, 0, 66);
  border-radius: 25% 40% 30% 10%;
}
#ench:active {
  background: linear-gradient(rgb(22, 1, 139), green);
  box-shadow: 3px 3px rgb(22, 1, 139), -.5em 0 .8em rgb(100, 136, 100);
  border-radius: 40% 40% 30% 10%;
}

#ench_red {
  cursor: pointer;                /*улучшение золотом*/
  position: absolute;           /*выравнивание кнопки по левому краю  */
  left: 0;                       /*в низ*/
  bottom: 0;
  margin-left: 10%;
  margin-bottom: 20px;
  
  border-radius: 40%;
  border: #333 inset 3px;
  background: linear-gradient(black, gray);

  width: 100px;
  height: 90px;
}
#ench_red:hover {
  background: linear-gradient(rgb(46, 46, 46), rgb(165, 165, 165));
}
#ench_red:active {
  background: linear-gradient(rgb(102, 102, 102), rgb(224, 224, 224));
  border-radius: 35%;


}
.ench_red_tx {
  font-weight: bold;
  color: bisque;
}
.ench_red_img {      /*иконка золота на улучшеной кнопке*/
  height: 20px;
  width: 20px;
  background: linear-gradient(rgb(147, 226, 171), orange);
  border-radius: 30px;
}
.ench_red_img_count {    /*количества золота за нажатие*/
  color: bisque;
  font-size: 17px;
  margin-left: 5px;
}

.res_at_clik_img {
  height: 20px;
  width: 20px;                        /*иконки ресурсов ------ на кнопке */
  background-color: bisque;
  border-radius: 3px;

  margin:  0 10%;

}
.res_at_clik_count_wood,.res_at_clik_count_iron {          /*количество ресурсов необходимое для ОБЫЧНОГО улучшения*/
  margin:  0 10%;
  color: bisque;
  font-size: 17px;
}

#restart {                        /*не видимая кнопка рестарта*/
  display: none;

 position: absolute;
  margin-top: 20%;

  border: none;
  cursor: pointer;

  width: 200px;
  height: 200px;

  text-align: center;
  font-size: 40px;
  text-shadow: #333 5px 5px 10px;
  font-weight: bold;
  color: #333;
  background-color: rgba(0, 255, 0, 0);
}
.aligment {               /*блок с изображением меча и кнопка улучшения становятся в одну линию(до этого были колонкой отображены)*/
  display: flex;
display: 1 1 0;
margin-top: 100px;
}

/*                                           Вторая страница                                  */
.sect2_h2 {
  text-align: center;
}
.sect2{
  margin-top: 805px;        /*костыль для отображения страницы с мечем*/
  padding-bottom: 100px;  /*костыль для того чтоб нижняя панель не наезжала на нижнюю часть изображения второй страницы*/
 position: absolute;
  width: 100%;
  height: auto;
  background: rgb(255, 218, 176);
}

.row {
  display: flex;
  justify-content: center;
 
}
.row_unit {
 margin-left: 3px;
 margin-top: 3px;

 height: 63px;
 width: 63px;
 background-color: aliceblue;
 border-radius: 6px;

}
.enemy {
  display: flex;
  justify-content: center;
}
.enemy_img {

  height: 300px;
  width: 200px;
  background-color: aliceblue;
  border-radius: 5px;
}

.bottom_menu {
  display: flex;
  justify-content: flex-start;
}
#sword_link,#fight_link {
  margin-left: 30px;
  margin-top: 10px;

  font-weight: bold;
  font-size: 20px;

  color: bisque;
  text-shadow: 1px 0 1px #000, 
  0 1px 1px #000, 
  -1px 0 1px #000, 
  0 -1px 1px #000;
}