@font-face { 
  font-family: "CyrillicOldBold";
  src: url("fonts/CyrillicOldBold/CyrillicOldBold.eot");
  src: url("fonts/CyrillicOldBold/CyrillicOldBold.eot?#iefix")format("embedded-opentype"),
  url("fonts/CyrillicOldBold/CyrillicOldBold.woff") format("woff"),
  url("fonts/CyrillicOldBold/CyrillicOldBold.ttf") format("truetype");
  font-style: normal;
  font-weight: 700;
}                                                                /*подключен шрифт старославянский*/
body {
  margin: 0;
  background-color: rgb(255, 181, 128);
}
#pr_bar_cont {  /*       контейнер для полоски с прогрессом улучшения      */
  width: 100%;
  height: 100vh -100px;

  display: flex;
  justify-content: center;
  text-align: center;

}
#progres_bar {
  /**/display: none;

  position: absolute;
  margin-top: 450px;
 
  width: 300px;
  height: 10px;
  z-index: 1000;
  background-color: rgba(0, 128, 0, 0.466);
  /**/border-radius: 30px;
  animation: progress_ench forwards .5s;
  border: #000 solid 2px;
}
#not_luck {                                      /* Надпись оповещающая о  не успешном улучшении*/
 /**/ display: none;
  text-align: center;
 color: rgb(255, 0, 0);
 text-shadow: 1px 0 1px #000, /*контур цифры ресурсов*/
 0 1px 1px #000, 
 -1px 0 1px #000, 
 0 -1px 1px #000;

font-size: 40px;
}
@keyframes progress_ench {
  0% {
    background-image: repeating-linear-gradient( -45deg,black 0,black 12px, gray 12px, gray 25px);
    background-repeat: no-repeat;
    background-size: 1%;
  }
  10%{
    background-image: repeating-linear-gradient( -45deg,black 0,black 12px, gray 12px, gray 25px);
    background-repeat: no-repeat;
    background-size: 10%;
  }
  20% {
    background-image: repeating-linear-gradient( -45deg,black 0,black 12px, gray 12px, gray 25px);
    background-repeat: no-repeat;
    background-size: 20%;
  }
  30% {
    background-image: repeating-linear-gradient( -45deg,black 0,black 12px, gray 12px, gray 25px);
    background-repeat: no-repeat;
    background-size: 30%;
  }
  40% {
    background-image: repeating-linear-gradient( -45deg,black 0,black 12px, gray 12px, gray 25px);
    background-repeat: no-repeat;
    background-size: 40%;
  }
  50% {
    background-image: repeating-linear-gradient( -45deg,black 0,black 12px, gray 12px, gray 25px);
    background-repeat: no-repeat;
    background-size: 50%;
  }
  60% {
    background-image: repeating-linear-gradient( -45deg,black 0,black 12px, gray 12px, gray 25px);
    background-repeat: no-repeat;
    background-size: 60%;
  }
  70% {
    background-image: repeating-linear-gradient( -45deg,black 0,black 12px, gray 12px, gray 25px);
    background-repeat: no-repeat;
    background-size: 70%;
  }
  80% {
    background-image: repeating-linear-gradient( -45deg,black 0,black 12px, gray 12px, gray 25px);
    background-repeat: no-repeat;
    background-size: 80%;
  }
  90% {
    background-image: repeating-linear-gradient( -45deg,black 0,black 12px, gray 12px, gray 25px);
    background-repeat: no-repeat;
    background-size: 90%;
  }
  100% {
    background-image: repeating-linear-gradient( -45deg,black 0,black 12px, gray 12px, gray 25px);
    background-repeat: no-repeat;
    background-size: 100%;
  }
  
}

.head {
 height: 100px;
 width: 100%;

  background: url(head_im.jpg) no-repeat;
  background-size: cover;

  border-radius: 5px;               /*панель с ресурсами*/

  display: flex;
  flex: 1 1 0;
  position: fixed; 
  top: 0;
  z-index: 1000;
  border-bottom: #333 1px solid;
}
 .iron, .gold, .wood {
   color: bisque;
   

          text-shadow: 1px 0 1px #000, /*контур цифры ресурсов*/
          0 1px 1px #000, 
          -1px 0 1px #000, 
          0 -1px 1px #000;

  font-size: 30px;

  margin: auto;
}
.for_sr_im {
  height: 35px;
  width: 35px;                        /*иконки ресурсов ДЕРЕВА И ЖЕЛЕЗА*/
  background-color: bisque;
  border-radius: 3px;

  border: #333 solid 1px;
}
.for_sr_im_gold {
  height: 35px;
  width: 35px;                        /*иконки ресурсов ЗОЛОТА*/
  background: linear-gradient(rgb(147, 226, 171), orange);
  border-radius: 30px;

  border: #333 solid 1px;
}
.count_rs {
  position: relative;
  margin-left: 5px;

  display: flex;
}
@keyframes minus_res {          /*анимация минусования ресурсов*/
  0% {
      opacity: 0; transform: translateY(-45px); 
  }
  100% {
      opacity: 1;transform: translateY(-60px);
  }
 
}
.wood-1,.iron-1,.gold-1 {  /*-1 c 0 нулевой видимостью*/
  position: absolute;
  color: red;
  opacity: 0;
  }
  .wood-1_clik {                   /*запуск анимации по нажатию клавиши*/
    animation: minus_res .5s  forwards ;
  }
  .iron-1_clik {
    animation: minus_res .5s  forwards ;
  }
  .gold-1_clik {
    animation: minus_res .5s  forwards ;
  }/******************************             ДОБАВЛЕНИЕ ресурсов             ****/
   
  .wood_plus,.iron_plus,.gold_plus {  /*-1 c 0 нулевой видимостью*/
    position: absolute;
    color: rgb(0, 197, 0);
    opacity: 0;
    }
    .wood_plus_clik {                   /*запуск анимации по нажатию клавиши*/
      animation: minus_res 2s  forwards ;
    }
    .iron_plus_clik {
      animation: minus_res 2s  forwards ;
    }
    .gold_plus_clik {
      animation: minus_res 2s  forwards ;
    }
/*****************************************/
.bottom_menu{                 /*Нижнее меню*/
  height: 50px;
  width: 100%;

  font-family: "CyrillicOldBold";
  font-size: 1.5em;
  color: bisque;

  
  background: url(head_im.jpg) no-repeat;
  background-size: cover;

  border-radius: 5px;  

  position: fixed; 
  bottom: 0;
  z-index: 1000;
  border-bottom: #333 1px solid;
}
/*************************/
.items {                               /*страница с улучшением меча*/
  position: absolute;
  margin-top: 90px;

  background: url(bg.jpg) ;   
  background-size: cover;
  resize: horizontal;
  width: 100%;
  height: 100vh -100px;


  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
#weap_img {                    /*изображение  меча*/
  margin-left: 50px;
  margin-right: 50px;

  width: 300px;
  height: 450px;
  background: url(sword/sw0.png) no-repeat;
  background-size: 300px 450px;
  object-fit: cover;
 
 
} 
#name{
  position: relative;
  text-align:  center;
  font-size: 45px;
  font-family: 700px;
  margin-bottom: 125px;
  /*font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif ;*/
  /*font-variant: small-caps;*/
  
  /**/font-family: "CyrillicOldBold";
   
}


#ench {                          /*кнопка улучшения*/
  cursor: pointer;
  
  position: absolute;           /*выравнивание кнопки по правому краю */
  right: 0;
  margin-right: 10%;

  border-radius: 10% 40% 30% 10%;
  border: gray inset 3px;
  background: linear-gradient(rgb(22, 1, 139), black);
  color: bisque;

  font-family: "CyrillicOldBold";      /**/
                              
  width: 150px;
  height: 120px;

}
#ench:hover {
  background: linear-gradient(rgb(22, 1, 139), #333);
  border-radius: 20% 40% 30% 20%;
  
}
#ench:active {
  background: linear-gradient(rgb(22, 1, 139), green);
  box-shadow: 3px 3px rgb(22, 1, 139), -.5em 0 .8em rgb(100, 136, 100);
  border-radius: 40% 40% 30% 10%;
}

#ench_red {
  cursor: pointer;                /*улучшение золотом*/
  position: absolute;           /*выравнивание кнопки по левому краю  */
  left: 0;                       /*в низ*/
  bottom: 0;
  margin-left: 10%;
  margin-bottom: 20px;
  
  font-family: "CyrillicOldBold";   /**/
  font-size: 16px;

  border-radius: 40%;
  border: #333 inset 3px;
  background: linear-gradient(black, gray);

  width: 100px;
  height: 90px;
}
#ench_red:hover {
  background: linear-gradient(rgb(46, 46, 46), rgb(165, 165, 165));
}
#ench_red:active {
  background: linear-gradient(rgb(102, 102, 102), rgb(224, 224, 224));
  border-radius: 35%;


}
.ench_red_tx {
  font-weight: bold;
  color: bisque;
}
.ench_red_img {      /*иконка золота на улучшеной кнопке*/
  height: 20px;
  width: 20px;
  background: linear-gradient(rgb(147, 226, 171), orange);
  border-radius: 30px;
}
.ench_red_img_count {    /*количества золота за нажатие*/
  color: bisque;
  font-size: 17px;
  margin-left: 5px;
}

.res_at_clik_img {
  height: 20px;
  width: 20px;                        /*иконки ресурсов ------ на кнопке */
  background-color: bisque;
  border-radius: 3px;

  margin:  0 10%;

}
.res_at_clik_count_wood,.res_at_clik_count_iron {          /*количество ресурсов необходимое для ОБЫЧНОГО улучшения*/
  margin:  0 10%;
  color: bisque;
  font-size: 17px;
}

#restart {                        /*не видимая кнопка рестарта*/
  display: none;

 position: absolute;
  margin-top: 200px;

  border: none;
  cursor: pointer;

  width: 350px;
  height: 350px;

  font-family: "CyrillicOldBold";            /**/

  text-align: center;
  font-size: 45px;
  font-weight: bold;
  color: #333;
  /*background-color: rgba(0, 255, 0, 0);       ниже этой строки добавлена анимация букв слова "перековать" */
  text-shadow: #000000 32px 32px 12px;
 
  background: linear-gradient(to right, black, rgb(196, 196, 0) 40%, rgb(196, 196, 1) 60%, black 80%);
  background-size: 200% auto;
  
  color: #000;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  
  animation: shine 1s linear infinite;
  }
 @keyframes shine {
    to {
      background-position: 200% center;
    }}

.aligment {               /*блок с изображением меча и кнопка улучшения становятся в одну линию(до этого были колонкой отображены)*/
  display: flex;
display: 1 1 0;
margin-top: 50px;
}

/*                                           Вторая страница                                  */
.sect2_h2 {
  text-align: center;
  margin-top: 0;
}
.sect2{
  margin-top: 755px;        /*костыль для отображения страницы с мечем*/
  padding-bottom: 100px;  /*костыль для того чтоб нижняя панель не наезжала на нижнюю часть изображения второй страницы*/
 position: absolute;
  width: 100%;
  height: auto;
  /**/background: url(bg_002.jpg);
  /*background: rgb(255, 218, 176);*/
}
/*#sect2_container{
  position: absolute;
  width: 100%;
  padding-bottom: 100px;

}*/
#health_bar_container {
  display: flex;
  justify-content: center;
  
}
#health_bar {                               /*Полоска здоровья у противника */
background: linear-gradient(to right, green 100%, red 10%);                    /**/
width: 200px;
height: 23px;
text-align: center;

border-radius: 10px;
border: #333 solid 5px;
border-top: none;
border-start-end-radius: 0;
border-start-start-radius: 0;

color: rgb(255, 206, 147);
text-shadow: 1px 0 1px #333, /*контур цифры ресурсов*/
0 1px 1px #333, 
-1px 0 1px #333, 
0 -1px 1px #333;

display: inline;                             /*выравнивает цифры здоровья*/
}
#hundred_percent_helth{                     /* не видимое базовое значение жизни противника*/
  display: none;
}
.row {
  display: flex;
  justify-content: center;
 
}
.row_unit {
 margin-left: 3px;
 margin-top: 3px;

 height: 64px;
 width: 64px;
 background-color: #525053;
 border-radius: 6px;

}
.enemy {
  display: flex;
  justify-content: center;
 
}
.enemy_img {

  margin-left: 50px;
  margin-right: 50px;

  width: 200px;
  height: 300px;
  background: url(enemy_img/boar_enemy.jpg) no-repeat;
  background-size: 200px 300px;
  object-fit: cover;
  border-radius: 10px;
  border: #333 solid 5px;

  border-end-start-radius: 0;
  border-end-end-radius: 0;
  border-bottom: none;
 
}

.bottom_menu {
  display: flex;
  justify-content: flex-start;
}
#sword_link,#fight_link ,.for_href{
  margin-left: 30px;
  margin-top: 10px;

  font-weight: bold;
  font-size: 20px;
  text-decoration: none;

  color: bisque;
  text-shadow: 1px 0 1px #000, 
  0 1px 1px #000, 
  -1px 0 1px #000, 
  0 -1px 1px #000;
}
  /* Кнопка старт*/
  #start {
    display: flex;
    justify-content: center;

    margin-top: 5px;
      }
      #button_start {
        width: 150px;
        height: 50px;

        font-family: "CyrillicOldBold";             /**/
        font-size: 17px;

        background: radial-gradient(red,orange);
        font-size: 20px;
        font-weight: bolder;
        border-radius: 15px;
        border-top-left-radius: 50%;
        border-top-right-radius: 50%;
        color: bisque;
        text-shadow: 1px 0 1px #000, 
        0 1px 1px #000, 
        -1px 0 1px #000, 
        0 -1px 1px #000;

        cursor: pointer;
      }
      #button_start:hover {
        opacity: .8;
      }
      #button_start:active {
        opacity: .6;
        border-radius: 10px;
      }
      /*Кнопка РЕстарта*/
      
          #button_restart {
            width: 150px;
            height: 50px;

            font-family: "CyrillicOldBold";                      /**/
            font-size: 19px;
    
            background: radial-gradient(rgb(255, 206, 206), rgb(0, 132, 255));
            font-size: 20px;
            font-weight: bolder;
            border-radius: 15px;
            border-bottom-left-radius: 50%;
            border-bottom-right-radius: 50%;
            color: bisque;
            text-shadow: 1px 0 1px #000, 
            0 1px 1px #000, 
            -1px 0 1px #000, 
            0 -1px 1px #000;

            cursor: pointer;

            display: none;
          }
 #button_restart:hover {
  opacity: .8;
 }
 #button_restart:active {
  opacity: .6;
  border-radius: 10px;
 }
/* КНОПКА ПРОДОЛЖИТЬ*/
 #button_continue {
  width: 150px;
  height: 50px;

  font-family: "CyrillicOldBold";             /**/
  font-size: 17px;

  background: radial-gradient(red,orange);
  font-size: 20px;
  font-weight: bolder;
  border-radius: 15px;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  color: bisque;
  text-shadow: 1px 0 1px #000, 
  0 1px 1px #000, 
  -1px 0 1px #000, 
  0 -1px 1px #000;

  cursor: pointer;

  display: none;
}
#button_continue:hover {
  opacity: .8;
}
#button_continue:active {
  opacity: .6;
  border-radius: 10px;
}